<div class="post card">
    <form class="form" id='edit-post-form'>
        <div>
            <label for="post-title">Title</label>
            <input class="form-input" type="text" id="post-title" name="post-title" value="{{post.title}}">
            <label for="post-body">Content</label>
            <textarea class="form-input" type="text" id="post-body" name="post-body">{{post.body}}</textarea>
            <div class="hide">
                <input class="form-input" type="text" id="post-id" name="post-id" value="{{post.id}}" readonly="true">
            </div>
            <button type="submit" class="btn">Update Post</button>
            <button type="click" class="btn" id="delete-btn">Delete Post</button>
        </div>
    </form>
</div>

<script src="/js/edit.js"></script>