<div class="post card">
    <form class="form" id="new-post-form">
        <div>
            <label for="post-title">Title</label>
            <input type="text" class="form-input" id="post-title" name="post-title">
            <label for="post-body">Body</label>
            <textarea name="post-body" id="post-body" class="form-input"></textarea>
            <button type="submit" class="btn">Submit</button>
        </div>
    </form>
</div>

<script src="/js/new.js"></script>